#!/usr/bin/env bash
set -euo pipefail
__prevEnv__="$(env)"

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export NX_WORKSPACE_ROOT=${DIR}

PATH_add node_modules/.bin
PATH_add tools/bin
PATH_add packages/dev/database/bin

export WORKSPACE_NAME="alex_b20"
export DEV_NETWORK_NAME="alex_b20_network"
export FIXTURE_DIR="${NX_WORKSPACE_ROOT}/tests/fixtures"

export OK_ACCESS_KEY=""
export BIS_ACCESS_KEY=""

export STACKS_API_URL="http://localhost:61899"
export STACKS_PUPPET_URL="http://localhost:61898/puppet/v1"
export STACKS_DEPLOYER_ACCOUNT_ADDRESS="ST1JXB1FYQH8QH1VST4YYKBA0TP57JPWJDXWCEFWX"
export STACKS_DEPLOYER_ACCOUNT_SECRET=""

export STACKS_VALIDATOR_ACCOUNT_ADDRESS="ST1R8C0MANTRAR8KTGQYEPHQG3K2CC246T7GP4NVN"
export STACKS_VALIDATOR_ACCOUNT_SECRET=""

export STACKS_RELAYER_ACCOUNT_ADDRESS="ST3HKN7WX6F114YP07P4NK3S1B6G6QXEXYVCD8HW0"
export STACKS_RELAYER_ACCOUNT_SECRET=""

export HASURA_VERSION="2.32.1"
export HASURA_GRAPHQL_SERVER_PORT="8717"
export HASURA_GRAPHQL_ADMIN_SECRET="penni_dido_evangelin"
export NODE_DATABASE_URL="postgres://postgres:postgres@localhost:61543/alex_b20_db"

export ENABLE_DEBUG_INFO="true"

if [[ -f .envrc.override ]]; then
  source_env .envrc.override
fi

# export updated ENV of this file
node "${NX_WORKSPACE_ROOT}/tools/bin/get-env" "${__prevEnv__}" "$(env)" > "${NX_WORKSPACE_ROOT}/.env" &
