#!/usr/bin/env bash
set -euo pipefail
__prevEnv__="$(env)"

DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
export NX_WORKSPACE_ROOT=${DIR}

PATH_add node_modules/.bin
PATH_add tools/bin
PATH_add packages/dev/database/bin

export WORKSPACE_NAME="brc20_oracle"
export DEV_NETWORK_NAME="brc20_oracle_network"
export FIXTURE_DIR="${NX_WORKSPACE_ROOT}/tests/fixtures"

export OK_ACCESS_KEY="${OK_ACCESS_KEY:-"000"}"
export BIS_ACCESS_KEY="${BIS_ACCESS_KEY:-"000"}"

export STACKS_API_URL="http://localhost:61899"
export STACKS_PUPPET_URL="http://localhost:61898/puppet/v1"
export STACKS_DEPLOYER_ACCOUNT_ADDRESS="ST1JXB1FYQH8QH1VST4YYKBA0TP57JPWJDXWCEFWX"
export STACKS_DEPLOYER_ACCOUNT_SECRET="114dd00b2407eb036aa12c38662ed35ff3ba6c4f743b5a8ae4c984ac0ec7afe301"

export STACKS_VALIDATOR_ACCOUNT_ADDRESS="ST1R8C0MANTRAR8KTGQYEPHQG3K2CC246T7GP4NVN"
export STACKS_VALIDATOR_ACCOUNT_SECRET="84d0498f29fcd1584d41db5893d53da672ae5a6e70bc2887203a28d9f6e9163801"

export STACKS_RELAYER_ACCOUNT_ADDRESS="ST3HKN7WX6F114YP07P4NK3S1B6G6QXEXYVCD8HW0"
export STACKS_RELAYER_ACCOUNT_SECRET="131d46f0fa593e53fa40656d549a9bb1b7fad8fa923cb6c6d8bab98324f565ac01"

export HASURA_VERSION="2.32.1"
export HASURA_GRAPHQL_SERVER_PORT="8717"
export HASURA_GRAPHQL_ADMIN_SECRET="penni_dido_evangelin"
export NODE_DATABASE_URL="postgres://postgres:postgres@localhost:61543/brc20_oracle_db"

export ENABLE_DEBUG_INFO="true"

export DOCKER_IMAGE_TAG_GROUP="us-central1-docker.pkg.dev/fifth-compiler-334213/alexgo/b20"
export BRC20_ORACLE_API_CREDENTIALS='{"00000000-0000-0000-0000-000000000001":"dev-1"}'
export INDEXER_ACCESS_KEY="00000000-0000-0000-0000-000000000001"

export BITCOIN_SYNC_GENESIS_BLOCK_HEIGHT="833623"
export VALIDATOR_GENESIS_BLOCK_HEIGHT="833623"
export STACKS_NETWORK_TYPE="testnet"

export VAULT_ADDR='http://127.0.0.1:8200'
export VAULT_TOKEN="E9oRo-9hr8V-ZSaIS"

export VAULT_ROLE_ID_INDEXER="$(cat ./tmp/bitcoin-oracle-indexer-role.role 2>/dev/null || echo -n '')"
export VAULT_SECRET_ID_INDEXER="$(cat ./tmp/bitcoin-oracle-indexer-role.secret 2>/dev/null || echo -n '')"

export VAULT_ROLE_ID_VALIDATOR="$(cat ./tmp/bitcoin-oracle-validator-role.role 2>/dev/null || echo -n '')"
export VAULT_SECRET_ID_VALIDATOR="$(cat ./tmp/bitcoin-oracle-validator-role.secret 2>/dev/null || echo -n '')"

export VAULT_ROLE_ID_API_SERVER="$(cat ./tmp/bitcoin-oracle-api-server-role.role 2>/dev/null || echo -n '')"
export VAULT_SECRET_ID_API_SERVER="$(cat ./tmp/bitcoin-oracle-api-server-role.secret 2>/dev/null || echo -n '')"

export VAULT_ROLE_ID_RELAYER="$(cat ./tmp/bitcoin-oracle-relayer-role.role 2>/dev/null || echo -n '')"
export VAULT_SECRET_ID_RELAYER="$(cat ./tmp/bitcoin-oracle-relayer-role.secret 2>/dev/null || echo -n '')"

if [[ -f .envrc.override ]]; then
  source_env .envrc.override
fi

# export updated ENV of this file
node "${NX_WORKSPACE_ROOT}/tools/bin/get-env" "${__prevEnv__}" "$(env)" >"${NX_WORKSPACE_ROOT}/.env" &
